extends ../layout

block content
  h1 Showing All People
  a(href='/people/new') Add Another Person |
  a(href='/')  Home
  
  
  table
    thead
      tr
        th Name
        th Hobby
    tbody
      for people in allPeople
        tr
          td= people.name
          td= people.hobby
